{% extends 'MainBundle::base.html.twig' %}

{% block include %}
    {% include "MainBundle:Layout:accountBlock.html.twig" %}
    {% include "MainBundle:Layout:menu.html.twig" %}
    {% include "MainBundle:Layout:suggest.html.twig" %}
{% endblock %}

{% block title %}{{ 'Account'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
    <div class="blockLogin">
        <form>
            <div class="loginUsernamePassword">
                <input/>
                <input/>
            </div>

            <div class="loginConnectionForgot">
                <button>{{ 'Connection'|trans }}</button>
                <em><a>{{ 'Forgot your account\'s password ?'|trans }}</a></em>
            </div>

        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %} {% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

