{% extends 'MainBundle::base.html.twig' %}

{% block include %}
    {% include "MainBundle:Layout:accountBlock.html.twig" %}
    {% include "MainBundle:Layout:menu.html.twig" %}
    {% include "MainBundle:Layout:suggest.html.twig" %}
{% endblock %}

{% block title %}{{ 'Account'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="menuBlock">
        <a class="menuBlockSearch">{{ 'Search'|trans }}</a>
        <a class="menuBlockFavorites">{{ 'Favorites'|trans }}</a>
        <a class="menuBlockWall">{{ 'Wall'|trans }}</a>
        <a class="menuBlockChat">{{ 'Chat'|trans }}</a>
        <a class="menuBlockAdmin">{{ 'Administration'|trans }}</a>
    </div>

    <div class="searchSuggestBlock">

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

