{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ 'Series'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block header %}
    {% include "MainBundle:Layout:header.html.twig" %}
{% endblock %}

{% block content %}
    {% include "MainBundle:Layout:menu.html.twig" %}
    <div class="serieBlock">
        {% include "MainBundle:Layout:detailSerie.html.twig" %}
        {% if episode is defined %}
            <div class="episodesDetailSerie">
                <h3>{{ episode.title }}</h3>
                <p>{{ 'Season'|trans }} {{ episode.seasonNumber }}, Episode {{ episode.episodeNumber }}</p>
                <p>{{ episode.description }}</p>
            </div>
        {% endif %}

        <div class="criticDetailSerieBlock">
            <h3>{{ "Critics"|trans }}</h3>
            {% for array in critics %}
                <div class="criticDetailSerie">
                    <h4>{{ "Title"|trans }}: {{ array["critic"].title }} Note: {{ array["critic"].note }}/10</h4>
                    {% if array['like'] is not empty %}
                        <div>
                            <p>Like: {{ array['like'] }}</p>
                            <form action="{{ path('main_serie', {'_locale': app.request.attributes.get('_locale'), 'idSerie': serie.Id.__toString}) }}" method="post">
                                <input type="hidden" name="idCriticForNotation" value="{{ array['critic'].id }}">
                                <input type="hidden" name="like" value="true">
                                <input type="submit" value="+1" name="submit" class="btn btn-primary">
                            </form>
                        </div>
                    {% endif %}
                    {% if array["dislike"] is not empty %}
                        <div>
                            <p>Dislike: {{ array["dislike"] }}</p>
                            <form action="{{ path('main_serie', {'_locale': app.request.attributes.get('_locale'), 'idSerie': serie.Id.__toString}) }}" method="post">
                                <input type="hidden" name="idCriticForNotation" value="{{ array['critic'].id }}">
                                <input type="hidden" name="dislike" value="false">
                                <input type="submit" value="-1" name="submit" class="btn btn-primary">
                            </form>
                        </div>
                    {% endif %}
                    <p>{{ array["critic"].content }}</p>
                    <h5>{{ "Posted by"|trans }} {{ array["critic"].user.username }} {{ "the"|trans }} {{ array["critic"].postedThe|date("d-m-Y") }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "MainBundle:Layout:listSeason.html.twig" %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

