{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ 'Series'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block header %}
    {% include "MainBundle:Layout:header.html.twig" %}
{% endblock %}

{% block content %}
    {% include "MainBundle:Layout:menu.html.twig" %}
    <div class="serieBlock">
        {% include "MainBundle:Layout:detailSerie.html.twig" %}
        {% if episode is defined %}
            <div class="episodesDetailSerie">
                <h3>{{ episode.title }}</h3>
                <p>{{ 'Season'|trans }} {{ episode.seasonNumber }}, Episode {{ episode.episodeNumber }}</p>
                <p>{{ episode.description }}</p>
            </div>
        {% endif %}

        <div class="criticDetailSerieBlock">
            <h3>{{ "Critics"|trans }}</h3>
            {% for critic in critics %}
                <div class="criticDetailSerie">
                    <h4>{{ "Title"|trans }}: {{ critic.title }}  Note: {{ critic.note }}/10</h4>
                    <p>{{ critic.content }}</p>
                    <h5>{{ "Posted by"|trans }} {{ critic.user.username }} {{ "the"|trans }} {{ critic.postedThe|date("d-m-Y") }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "MainBundle:Layout:listSeason.html.twig" %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

