{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ 'Unlogging'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "MainBundle:Layout:headerLogin.html.twig" %}
{% endblock %}

{% block content %}
    {% include "MainBundle:Layout:menuUnlogged.html.twig" %}
    <div>
        {% for result in lastPublishedSeries %}
            <div>{{ result.title }}
                {{ result.description }}</div>
        {% endfor %}
    </div>
    <div>
        {% for result in lastPublishedCritics %}
            <div>{{ result.title }}
                {{ result.content }}</div>
        {% endfor %}
    </div>
    <div>
        {% for result in trendingSeries %}
            <div>{{ result.title }}
                {{ result.description }}</div>
        {% endfor %}
    </div>
    {% include "MainBundle:Layout:visit.html.twig" %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

