{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ 'Wall'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "MainBundle:Layout:header.html.twig" %}
{% endblock %}

{% block content %}
    {% include "MainBundle:Layout:menu.html.twig" %}

    {% if wallInfo is not empty %}
        <div>
            {% for result in wallInfo %}
                <div>
                    <div>
                        <h2><a href="{{ path('main_serie', {'_locale': app.request.attributes.get('_locale'), 'idSerie': result["serie"].Id.__toString}) }}">{{ result["serie"].title }}</a></h2>
                        <img src="{{ 'http://thetvdb.com/banners/_cache/' ~ result['serie'].poster }}" alt="">
                    </div>
                    <div>
                        <h4>{{ "Title"|trans }}: {{ result["infoCritic"]["critic"][0].title }}  Note: {{ result["infoCritic"]["critic"][0].note }}/10</h4>
                        <div style="display: flex" >
                            <p style="flex-direction: row; margin-right: 5%" >Like: {{ result["infoCritic"]["like"] }}</p>
                            <div style="width: 15%; flex-direction: row; margin-left:5%;" >
                                <form action="{{ path('main_wall', {'_locale': app.request.attributes.get('_locale')}) }}" method="post">
                                    <input type="hidden" name="idCriticForNotation" value="{{ result["infoCritic"]["critic"][0].id }}">
                                    <input type="hidden" name="like" value="true">
                                    <input type="submit" value="+1" name="submit" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div style="display: flex" >
                            <p style="flex-direction: row; margin-right: 5%" >Dislike: {{ result["infoCritic"]['dislike'] }}</p>
                            <div style="width: 15%; flex-direction: row; margin-left:5%;" >
                                <form action="{{ path('main_wall', {'_locale': app.request.attributes.get('_locale')}) }}" method="post">
                                    <input type="hidden" name="idCriticForNotation" value="{{ result["infoCritic"]["critic"][0].id }}">
                                    <input type="hidden" name="dislike" value="false">
                                    <input type="submit" value="-1" name="submit" class="btn btn-danger">
                                </form>
                            </div>
                        </div>
                        <p>{{ result["infoCritic"]["critic"][0].content }}</p>
                        <h5>{{ "Posted by"|trans }} {{ result["infoCritic"]["critic"][0].user.username }} {{ "the"|trans }} {{ result["infoCritic"]["critic"][0].postedThe|date("d-m-Y") }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <p>{{ "Click on search to start add serie"|trans }}</p>
        </div>
    {% endif %}
    {% if serieSuggest is not empty %}
        {% include "MainBundle:Layout:suggest.html.twig" %}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

