<div class="detailSerie">


    <h2>{{ serie.title }}</h2>

    {% for type in types %}
        <p>{{ type }}</p>
    {% endfor %}


    {% for actor in actors %}
            <p>{{ result[0] ~ '-' ~ result[1] }}</p>
    {% endfor %}


    {% for critic in critics %}
        <p>{{ critic.title }}</p>
        <p>{{ critic.content }}</p>
    {% endfor %}


</div>