<div class="detailSerie">


    <h2>{{ serie.title }}</h2>

    {% for type in types %}
        <h3 >{{ type }}</h3 >
    {% endfor %}


    {% for result in actors %}

            <p>{{ result["name"] ~ ' - ' ~ result["role"] }}</p>

    {% endfor %}


    {% for critic in critics %}
        <p>{{ critic.title }}</p>
        <p>{{ critic.content }}</p>
    {% endfor %}


</div>