
<header>
    <div class="headerBlock">
        <img src="{{ asset('public/img/logoFishblock.svg') }}">


        <div class="accountBlock">
            <div class="accountName">
                {{ user }}
            </div>
            <div class="accountNotification">
                <a>{{ "Notifications"|trans }}</a>
                <a href="{{ path("main_account", {_locale: app.request.attributes.get('_locale')}) }}">{{ "Account"|trans }}</a>
            </div>
        </div>
    </div>

    <div class="separationBar separationFat">
    </div>

</header>