<header>
    <div class="headerBlock">
        <div class="logoBlock">
            <img src="{{ asset('public/img/logoFishblock.svg') }}">
        </div>

        <div class="translateButton" >
            {% if app.request.get('_locale') == 'fr' %}
                <a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}" class="btn-info btn" >Passer en anglais</a>
            {% else %}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" class="btn-info btn" >Switch to french</a>
            {% endif %}
        </div>

        <div class="loginBlock">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="loginUsernamePassword">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <label for="username">Username</label>
                    <input class="form-control" type="text" class="" id="username" name="_username" value="" required="required" />

                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required"/>

                    <input type="submit" class="btn btn-warning" id="_submit" name="_submit" value="Log in" />
                </div>
            </form>
        </div>
    </div>

    <div class="separationBar separationFat">
    </div>

</header>


