<div class="registerBlock">
    <form class="register"
          action="{{ path('main_home', {'_locale': app.request.attributes.get('_locale')}) }}" method="post">

        {% if error is defined %}
            <p class='error'>{{ error|trans }}</p>
        {% endif %}
        <h2>Inscription :</h2>
        <label for="username">{{'User'|trans}}</label></br>
        <input type="text" id="firstname" name="firstname" placeholder="firstname" required="required"/></br>
        <input type="text" id="lastname" name="lastname" placeholder="lastname" required="required"/></br>
        <input type="text" id="username" name="username" placeholder="username" required="required"/></br>

        <label for="password">{{'Password'|trans}}</label></br>
        <input type="password" id="password" name="password" placeholder="password" required="required"/></br>
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="passwordConfirmation" required="required"/></br>

        <label for="email">{{'Mail'|trans}}</label></br>
        <input type="email" id="email" name="email" placeholder="mail" required="required"/></br>

        <label for="birthday">{{'Birthday'|trans}}</label></br>
        <input type="date" id="birthday" name="birthday" placeholder="ex : 2001/12/01" max="{{ date().timestamp }}" required="required"/></br></br>

        <input class="btn btn-default btn-sm" type="submit" id="_submit" name="submit" value={{'Register'|trans}}>
    </form>

</div>