<div class="searchBlock">
    <form action="{{ path('main_search', {_locale: app.request.attributes.get('_locale')}) }}" method="post">

        <p>{{ "Serie's title"|trans }} :</p>
        <input type="text" name="serieName" id="searchTitle" />
        <div></div>
        <div></div>
        <p>{{ "Actors"|trans }} :</p>
        <select name="actors" id="searchActors">
            <option value="NULL" selected></option>
            {% for actor in actors %}
                <option value="{{ actor.id }}">{{ actor.name }}</option>
            {% endfor %}
        </select>
        <p>{{ "Type"|trans }} :</p>
        <select name="types" id="searchType">
            <option value="NULL" selected></option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="searchButton">{{ "Search"|trans }}</button>
    </form>

</div>