<div class="serieCard">
    <ul>
        {% for serie in series %}
            <li>
                <h2>
                    <a href="{{ path('main_serie', {'_locale': app.request.attributes.get('_locale'), 'idSerie': serie.Id.__toString}) }}">{{ serie.title }}</a>
                </h2>
            </li>

            {% if serie.poster == "undefined" %}
                <p>
                    <img src={{ asset("public/img/undefined.jpg") }}/>
                </p>
            {% else %}
                <p>
                    <img src="{{ 'http://thetvdb.com/banners/_cache/' ~ serie.poster }}"/>
                </p>
            {% endif %}

            <li>
                <p>{{ serie.description }}</p>
            </li>
            <li>
                <a href="{{ path('main_add_favoris', {'_locale': app.request.attributes.get('_locale'), 'idSerie': serie.Id.__toString}) }}"
                   class="btn btn-primary">{{ "Favorites"|trans }}</a>
            </li>
        {% endfor %}
    </ul>
</div>