<div class="serieCard">
    <ul>
        {% for fav in favoris %}
            <li>
                <h2>
                    <a href="{{ path('main_serie', {'_locale': app.request.attributes.get('_locale'), 'idSerie': fav.serie.Id.__toString}) }}">{{ fav.serie.title }}</a>
                </h2>
            </li>

            {% if fav.serie.poster == "undefined" %}
                <p>
                    <img src="{{ asset("public/img/undefined.jpg") }}"/>
                </p>
            {% else %}
                <p>
                    <img src="{{ 'http://thetvdb.com/banners/_cache/' ~ fav.serie.poster }}"/>
                </p>
            {% endif %}

            <li>
                <p>{{ fav.serie.description }}</p>
            </li>
            <li>
                <a href="{{ path('main_remove_favoris', {'_locale': app.request.attributes.get('_locale'), 'idFavoris': fav.Id.__toString}) }}"
                   class="btn btn-danger">{{ "Remove"|trans }}</a>
            </li>
        {% endfor %}

    </ul>
</div>