<div class="serieCard">

    <ul>
        {% for fav in favoris %}
            <li><h2>{{ fav.serie.title }}</h2></li>
            {% if fav.serie.poster == "undefined" %}
                <p><img src={{ asset("public/img/undefined.jpg") }}/></p>
            {%  else %}
                <p><img src={{ 'http://thetvdb.com/banners/_cache/' ~ fav.serie.poster  }}/></p>
            {%  endif %}
            <li><p>{{ fav.serie.description }}</p></li>
            <li><a href={{ path('main_add_favoris', {'_locale': app.request.attributes.get('_locale'), 'idSerie': fav.serie.Id.__toString}) }}><input type="button" class="btn btn-primary" value={{ "Favorites"|trans }}></a> </li>
        {% endfor %}
    </ul>
</div>