<div class="suggestBlock">
    {# récupérer série aimée puis afficher deux autres séries #}
    <ul>
        <li><p>{{ 'If you love'|trans }} </p>
            {% if serieSuggest[0].poster === 'undifined' %}

            {% else %}

            <img src={{ 'http://thetvdb.com/banners/_cache/' ~ serieSuggest[0].poster }}/></li>
            {% endif %}

        <li>
            {% if serieSuggest[0].poster === 'undifined' %}
                <p>{{ 'You will enjoy'|trans }} </p> <img
                    src={{ asset('public/img/undifined.jpg') }}>
            {% else %}
                <p>{{ 'You will enjoy'|trans }} </p> <img
                    src={{ 'http://thetvdb.com/banners/_cache/' ~ serieSuggest[1].poster }}>
            {% endif %}

            {% if serieSuggest[0].poster === 'undifined' %}

            {% else %}

            <p><img src={{ 'http://thetvdb.com/banners/_cache/' ~ serieSuggest[2].poster }}></p></li>
            {% endif %}

    </ul>

</div>
